---
import Layout from '../layouts/Layout.astro';
import Logo from '../components/Logo.tsx';
import Navigation from '../components/Navigation.tsx';
import Intro from '../components/Intro.tsx';
import Story from '../components/Story.tsx';
import HeroStatement from '../components/HeroStatement.tsx';
import Agnostic from '../components/Agnostic.tsx';
import Clients from '../components/Clients.tsx';
import Contact from '../components/Contact.tsx';
---

<Layout title="Jan Kaiser">
	<Logo client:load />
	<Navigation client:load />
	<main class="relative w-full">
		<Intro client:load />
		<Story client:load />
		<HeroStatement client:load />
		<Agnostic client:load />
		<Clients client:load />
		<Contact client:load />
	</main>
</Layout>
